$primary-color: #242985;
$secondary-color: #F8931F;
h2 {
    text-align: center;
}
form {
    background-color: $primary-color;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px 22px;
}

.column {
    display: flex;
    flex-direction: column;
}

textarea {
    border-radius: 24px;
    resize: none;
    height: 480px;
}
