$primary-color: #242985;
$secondary-color: #F8931F;

.footer {
    background-color: $primary-color;
    padding: 20px 22px;
    text-align: center;
    p, a {
      color: white;
      margin: 8px 0;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
    span {
      display: flex;
      flex-direction: column;
      margin-bottom: 24px;
      text-align: left;
    }
}

@media only screen and (min-width: 960px) {
    .footer {
        &-start {
            padding: 32px 80px;
        }
        &-end {
            padding: 0 80px 48px;
        }
    }
}
