$primary-color: #242985;
$secondary-color: #F8931F;

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    padding: 12px 22px;
    &-content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 16px 0;
    }
    &-object {
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: transform .6s cubic-bezier(0.6, -0.28, 0.735, 0.045);
        svg {
          height: 96px;
          width: auto;
        }
        &:hover {
            transform: scale(1.2);
        }
    }
    .watermark {
        position: absolute;
        z-index: -1;
        width: 100%;
        bottom: 0;
    }
}

@media only screen and (min-width: 960px) {
    .header {
        padding: 12px 44px;
        &-content {
            flex-direction: row;
            width: 100%;
            margin: 44px 0;
        }
        &-object {
          svg {
            height: 128px;
          }
        }
        .watermark {
            width: auto;
            height: 150%;
            bottom: -25%;
            right: 0;
        }
    }
}
