<app-toolbar
  (filterCategory)="filterCategory($event)"
  (filterAge)="filterAge($event)"
  (sortType)="sortData($event)">
</app-toolbar>
<div *ngFor="let item of dataList | slice:0:10" class="container" [routerLink]="['/jobs/', item.id]">
    <div class="job-image">
      <img class="image-offer" src="{{item.image.url}}" alt="Ogłosznie">
    </div>
    <div class="job-header">
      <p class="p-large p-bold">{{item.title}}</p>
      <p class="p-medium p-bold">{{item.expectedPrice}} zł / godz.</p>
    </div>
    <div class="job-content">
      <p class="p-small">Opublikowano: {{formatDate(item.updatedAt)}}</p>
      <div class="job-category">
        <p class="badge" style="margin-right: 14px;">{{item.category}}</p>
        <p *ngIf="item.isAgeOfMajorityRequired" class="badge">18+</p>
      </div>
    </div>
</div>
