$primary-color: #242985;
$secondary-color: #F8931F;

.container {
  display: grid;
  grid-template: "image header" "content content" / 1fr 1fr;
  background-color: #FFFAF5;
  padding: 20px 22px;
  margin: 16px 0;
  .job {
    &-image, &-header, &-content {
      margin: 6px 0;
    }
    &-image {
      grid-area: image;
    }
    &-header {
      grid-area: header;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
    &-content {
      grid-area: content;
    }
    &-category {
      display: flex;
    }
    &-detail {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

@media only screen and (min-width: 960px) {
  .container {
    grid-template: "image header" "image content" / auto 1fr;
    padding: 20px 44px;
    border-radius: 24px;
    margin: 16px;
    .job {
      &-image {
        margin-right: 40px;
      }
    }
  }
}
