<form
  *ngIf="!sendStatus; else showAlert"
  [formGroup]="messageForm"
  (ngSubmit)="sendMessage(messageForm)"
  class="container" style="padding: 20px 22px; align-items: flex-end; border-radius: 24px; flex-direction: column;">
    <textarea name="content" cols="30" rows="10" formControlName="content" class="form-input" style="width: 100%; resize: vertical;"></textarea>
    <span>
        <button type="button" class="button button-cancel" (click)="onCancelClick()">Anuluj</button>
        <input type="submit" value="Wyślij" class="button">
    </span>
</form>
<ng-template #showAlert>
  <p class="p-large p-bold {{color !== undefined && color === 'white' ? 'p-white' : ''}}">Pomyślnie wysłano</p>
</ng-template>
