<h2 class="h-medium">Wiadomości</h2>
<app-settings-bar></app-settings-bar>
<div class="topbar"></div>
<div *ngFor="let item of messagesList">
  <h1>Wiadomość od: {{item.sender!==undefined ? item.sender.firstname+' '+item.sender.lastname : ''}}</h1>
  <h2>Ogłoszenie: {{item.advertisement!==undefined ? item.advertisement.title : ''}}</h2>
  <a [routerLink]="['/jobs/', item.advertisementId]">Link</a>
  <p>Treść: {{item.content}}</p>
  <p>Napisano: {{item.createdAt!==undefined ? formatDate(item.createdAt) : ''}}</p>
</div>
