<h2>Dane użytkownika</h2>
<form [formGroup]="profileForm" (ngSubmit)="updateProfileData(profileForm)">
    <div class="column">
        <span class="image">
            <img src="{{photoURL}}" alt="Zdjęcie profilowe" style="width: 128px;height: 128px; border-radius: 64px;">
            <h1>Zdjęcie profilowe</h1>
        </span>
        <label for="fileInput" class="button">
            <input id="fileInput" type="file" #userPhoto (change)="onFileSelected($event)" style="display:none">
            Załaduj nowe zdjęcie
        </label>
        <p>Imię</p>
        <input type="text" name="firstname" formControlName="firstname">
        <p>Nazwisko</p>
        <input type="text" name="lastname" formControlName="lastname">
        <p>Numer telefonu</p>
        <input type="text" name="phoneNumber" formControlName="phoneNumber">
        <p>E-mail</p>
        <p title="Adresu e-mail nie można zmienić.">{{fs.currentUser.email}}</p>
    </div>
    <div class="column" formGroupName="address">
        <h3>Adres</h3>
        <p>Ulica</p>
        <span class="street-form">
            <input type="text" name="streetName" formControlName="streetName">
            <input type="text" name="streetNumber" formControlName="streetNumber">
        </span>
        <p>Kod pocztowy</p>
        <input type="text" name="postcode" formControlName="postcode">
        <p>Miasto</p>
        <input type="text" name="city" formControlName="city">
        <p>Kraj</p>
        <input type="text" name="country" formControlName="country">
    </div>
    <span class="submit-buttons">
        <button routerLink="/account/settings" class="cancel">Anuluj</button>
        <input type="submit" value="Zapisz wszystkie zmiany">
    </span>
</form>
