<!-- <div *ngIf="fs.auth.user | async as user; else home">
    <h1>Ogłoszenia</h1>
    <ul>
        <li *ngFor="let data of fsData">
            <p style="display: inline;">Title: {{data.title}}</p>
            <button (click)="removeTask(data)" >remove task</button>
        </li>
    </ul>
</div>
<ng-template #home>
    <div>
        <h1>Znajdź pracę</h1>
        <h2>Oferty dla młodych</h2>
        <form method="get">
            <input type="text" name="search">
            <input type="text" name="address">
            <input type="submit" value="Szukaj">
        </form>
    </div>
    <div>
        <div>
            <h3>Znajdź pracę</h3>
        </div>
        <div>
            <h3>Niedawno dodane ogłoszenia</h3>
        </div>
        <div>
            <button>Dodaj ofertę pracy</button>
            <button>Zarejestruj się</button>
        </div>
    </div>
</ng-template> -->
<app-header></app-header>
<app-searchbar></app-searchbar>
empty
