.container {
  display: flex;
  flex-direction: column;
  background-color: #FFFAF5;
}
.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: row;
  align-items: center;
}
