$primary-color: #242985;
$secondary-color: #F8931F;
* {
    box-sizing: border-box;
}
html, body { height: 100%; }
body {
    margin: 0;
    font-family: 'Arimo', sans-serif;
}
h1, h2 {
    font-weight: 700;
    font-style: normal;
    margin: 0;
    color: $primary-color;
}
h1 {
    font-size: 18px;
    color: $primary-color;
}
h2 {
    font-size: 14px;
    color: $secondary-color;
}
// p {
//   font-weight: normal;
//   font-style: normal;
//   margin: 0;
//   color: $primary-color;
//   font-size: 14px;
// }
form {
    display: flex;
    flex-direction: column;
    p {
        color: white;
        margin: 8px 0;
        font-size: 18px;
    }
}
input, select {
    padding: 12px;
    border: none;
    border-radius: 24px;
    font-size: 18px;
    text-align: center;
    margin: 8px 0;
    &[type=submit] {
        background-color: $secondary-color;
        font-weight: bold;
        color: $primary-color;
        cursor: pointer;
    }
}

@media only screen and (min-width: 960px) {
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 18px;
    }
    // p {
    //   font-size: 18px;
    // }
}

.topbar {
  width: 100%;
  height: 4px;
  background-color: $secondary-color;
}

// components

.button {
  background-color: $secondary-color;
  color: $primary-color;
  border: none;
  border-radius: 24px;
  font-size: 18px;
  font-weight: 700;
  padding: 8px 24px;
  margin: 8px 0;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  &:hover {
    filter: brightness(85%);
    transition: opacity .3s ease-in-out;
  }
  &-cancel {
    background-color: transparent;
    color: $secondary-color;
}
}

.image {
  &-offer, &-user {
    object-fit: cover;
  }
  &-offer {
    width: 128px;
    height: 128px;
    border-radius: 24px;
  }
  &-user {
    width: 64px;
    height: 64px;
    border-radius: 32px;
  }
}

.p {
  &-small, &-medium, &-large {
    font-weight: normal;
    font-style: normal;
    margin: 0;
    color: $primary-color;
  }
  &-small {
    font-size: 14px;
  }
  &-medium {
    font-size: 18px;
  }
  &-large {
    font-size: 24px;
  }
  &-bold {
    font-weight: bold;
  }
}

.badge {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  border: $secondary-color 1px solid;
  border-radius: 24px;
  text-align: center;
  padding: 2px 16px;
}

@media only screen and (min-width: 960px) {
  .image {
    &-offer {
      width: 256px;
      height: 256px;
    }
    &-user {
      width: 96px;
      height: 96px;
      border-radius: 48px;
    }
  }
}
