$primary-color: #242985;
$secondary-color: #F8931F;
* {
    box-sizing: border-box;
}
html, body { height: 100%; }
body {
    margin: 0;
    font-family: 'Arimo', sans-serif;
}

.topbar {
  width: 100%;
  height: 4px;
  background-color: $secondary-color;
}

.button {
  background-color: $secondary-color;
  color: $primary-color;
  border: none;
  border-radius: 24px;
  font-size: 18px;
  font-weight: 700;
  padding: 8px 24px;
  margin: 6px 0;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  &:hover {
    filter: brightness(85%);
    transition: opacity .3s ease-in-out;
  }
  &-white {
    background-color: white;
  }
  &-cancel {
    background-color: transparent;
    color: $secondary-color;
}
}

.image {
  &-offer, &-user {
    object-fit: cover;
  }
  &-offer {
    width: 128px;
    height: 128px;
    border-radius: 24px;
  }
  &-user {
    width: 64px;
    height: 64px;
    border-radius: 32px;
  }
  &-chat {
    width: 32px;
    height: 32px;
    border-radius: 16px;
  }
}

.h {
  &-large, &-medium {
    font-weight: 700;
    font-style: normal;
    text-align: center;
  }
  &-large {
    font-size: 24px;
    margin: 12px 0;
    color: $primary-color;
  }
  &-medium {
    font-size: 18px;
    margin: 9px 0;
    color: $secondary-color;
  }
}

@media only screen and (min-width: 960px) {
  .h {
    &-large {
      font-size: 36px;
      margin: 18px 0;
    }
    &-medium {
      font-size: 24px;
      margin: 12px 0;
    }
  }
}

.p {
  &-small, &-medium, &-large {
    font-weight: normal;
    font-style: normal;
    color: $primary-color;
  }
  &-small {
    font-size: 12px;
    margin: 6px 0;
  }
  &-medium {
    font-size: 14px;
    margin: 7px 0;
  }
  &-large {
    font-size: 18px;
    margin: 9px 0;
  }
  &-bold {
    font-weight: bold;
  }
  &-white {
    color: white;
  }
}

@media only screen and (min-width: 960px) {
  .p {
    &-small {
      font-size: 14px;
      margin: 7px 0;
    }
    &-medium {
      font-size: 18px;
      margin: 9px 0;
    }
    &-large {
      font-size: 24px;
      margin: 12px 0;
    }
  }
}

.badge {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  border: $secondary-color 1px solid;
  border-radius: 24px;
  text-align: center;
  padding: 2px 16px;
}

@media only screen and (min-width: 960px) {
  .image {
    &-offer {
      width: 256px;
      height: 256px;
    }
    &-user {
      width: 96px;
      height: 96px;
      border-radius: 48px;
    }
    &-chat {
      width: 48px;
      height: 48px;
      border-radius: 24px;
    }
  }
}

.group {
  display: flex;
  align-items: center;
  padding: 0 22px;
  background-color: $primary-color;
  justify-content: space-evenly;
  .button {
    display: flex;
  }
  .active {
    position: relative;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      top: 100%;
      height: 6px;
      background-color: $secondary-color;
      left: 0;
    }
  }
  .label {
    display: none;
  }

  @media only screen and (min-width: 960px) {
    .label {
      display: inline;
      align-self: center;
    }
    svg, img {
      margin-right: 8px;
    }
  }
}

@media only screen and (min-width: 960px) {
  .group {
    padding: 0 44px;
  }
}

.form {
  &-label {
    display: flex;
    flex-direction: column;
    margin: 9px 0;
  }
  &-text {
    padding: 7px 14px;
    color: white;
    font-size: 14px;
  }
  &-input {
    padding: 9px 18px;
    border: none;
    border-radius: 24px;
    font-size: 18px;
    font-family: 'Arimo', sans-serif;
  }
}

@media only screen and (min-width: 960px) {
  .form {
    &-text {
      padding: 9px 18px;
      font-size: 18px;
    }
  }
}

.row, .row-reverse {
  display: flex;
  flex-direction: column;
  padding: 12px 22px;
}
.column {
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  padding: 12px 22px;
  margin: 20px 0;
  flex: 1 1 0;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.container {
  background-color: $primary-color;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media only screen and (min-width: 960px) {
  .row, .row-reverse {
    flex-direction: row;
    justify-content: center;
    padding: 20px 22px;
  }
  .row-reverse {
    flex-direction: row-reverse;
  }
  .column {
    padding: 12px 44px;
    margin: 8px 22px;
  }
  .button-wrapper {
    flex-direction: row-reverse;
    justify-content: flex-start;
    .button {
      margin-left: 16px;
    }
  }
}

.social {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  .button {
      margin: 0 18px;
  }
  &-header {
      margin-bottom: 16px;
      text-align: center;
  }
}

@media only screen and (min-width: 960px) {
    .social {
        flex-direction: column;
        .button {
          margin: 18px 0;
          display: flex;
          justify-content: center;
          svg {
            margin-right: 8px;
          }
        }
    }
}

input[type=checkbox] {
  display: none;
}
.checkbox {
  position: relative;
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 12px;
  cursor: pointer;
}

input[type=checkbox]:checked ~ .checkbox::after {
  content: '';
  position: absolute;
  background-color: white;
  left: 0;
  bottom: 0;
  width: 24px;
  height: 24px;
  background: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 17L5 12L6.41 10.58L10 14.17L17.59 6.58L19 8L10 17ZM12 2C10.6868 2 9.38642 2.25866 8.17317 2.7612C6.95991 3.26375 5.85752 4.00035 4.92893 4.92893C3.05357 6.8043 2 9.34784 2 12C2 14.6522 3.05357 17.1957 4.92893 19.0711C5.85752 19.9997 6.95991 20.7362 8.17317 21.2388C9.38642 21.7413 10.6868 22 12 22C14.6522 22 17.1957 20.9464 19.0711 19.0711C20.9464 17.1957 22 14.6522 22 12C22 10.6868 21.7413 9.38642 21.2388 8.17317C20.7362 6.95991 19.9997 5.85752 19.0711 4.92893C18.1425 4.00035 17.0401 3.26375 15.8268 2.7612C14.6136 2.25866 13.3132 2 12 2V2Z" fill="%23242985"/></svg>');

}
